{
  "$schema": "node_modules/wrangler/config-schema.json",
  "name": "my-app-name",
  "main": "src/worker.tsx",
  "compatibility_date": "2024-09-23",
  "compatibility_flags": [
    "nodejs_compat"
  ],
  "assets": {
    "binding": "ASSETS"
  },
  "observability": {
    "enabled": true
  },
  "durable_objects": {
    "bindings": [
      {
        "name": "SESSION_DURABLE_OBJECT",
        "class_name": "SessionDurableObject"
      }
    ]
  },
  "vars": {
    "APP_NAME": "my-app-name",
    "WEBAUTHN_APP_NAME": "my-app-name"
  },
  "migrations": [
    {
      "tag": "v1",
      "new_sqlite_classes": [
        "SessionDurableObject"
      ]
    }
  ],
  "d1_databases": [
    {
      "binding": "DB",
      "database_name": "my-db",
      "database_id": "8a3feb6b-6f7d-4d8a-9b5b-8a5c5a5f5a5f"
    }
  ]
}